*,:after,:before {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0
}

html, body {
  height: 100%;
}

body {
  color: $palette-white;
  font: 1em/1.25 $root-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

main, header, footer, nav, aside {
  display: block;
}

h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0;
}

a {
  color: $palette-white;
  text-decoration: underline;
}

fieldset {
  border: 0;
}

label {
  display: block;
}

p {
  margin: 0 0 .5em 0;
  &:last-of-type {
    margin: 0;
  }
}

table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

[type="checkbox"] {
  margin-right: .3em;
}

[type="radio"] {
  margin-right: .3em;
}
