$cubic-bezier: cubic-bezier(.17, .67, .83, .67);
$element-distance: 2.5rem;
$fontL-productHeader:1.25em;
$fontXL-productHeader: 1.5em;
$gutter: 7px;
$inner-margin: 1.5rem;
$inner-margin-small: 1rem;
$page-content-width: 48.75em;
$transition-duration: .3s;
$width-narrow: 33.25em;


// composite variables
$box-decoration: $gutter solid $palette-cyan;
$navigation-underline: 0 4px $palette-white;
$navigation-underline-mobile: inset 0 1px 0 $palette-cyan;

