%action-list {
  bottom: 0;
  display: flex;
  position: absolute;
  right: 0;
}

%action {
  cursor: pointer;
  display: block;
  font-size: .9em;
  letter-spacing: .025em;
  padding: .5em .625rem;
  text-transform: uppercase;
  transition: background .2s;
}

%action--hover {
  background: $palette-white;
  color:$palette-black;
}

%action-button {
 @extend %action;
  background: $palette-black;
  border: 0;
  color: $palette-white;
  width: 100%;
}

%action-link {
  @extend %action;
  background: $palette-cyan;
  text-decoration: none;
}