<div class="Buy">
  <ul class="TabsList">
    <li>
      <span class="TabsList-tab TabsList-tab--buy">Buy now</span>
    </li>
  </ul>

  <form class="Buy-form">
    <div class="Buy-formBox">
      <div class="Buy-formGroup">
        <div class="Buy-formField">
          <h3 class="Buy-formHeading">To buy this thing, do this:</h3>
          <ol class="Buy-formSteps">
            <li class="Buy-formStep">Enter your email (We will NOT bother you).</li>
            <li class="Buy-formStep">Choose below to pay with PayPal, Amazon, Dwolla or BitPay.</li>
            <li class="Buy-formStep">Watch the show, download the show, ignore the show. Whatever you want.</li>
          </ol>
        </div>
        <div class="Buy-formField Form-field">
          <label class="InputLabel">
            Enter Your email :
            <input class="Input" name="email" type="email" id="form-email" required="required" placeholder="email@domain.com"/>
          </label>
        </div>
      </div>
    </div>

    <div class="Buy-formBox">
        <div class="Buy-formField Form-field">
          <label>
            <input name="gift" value="true" type="checkbox">
            This is a gift
          </label>
        </div>
    </div>

    <div class="Buy-formBox">
      <div class="Buy-formGroup">
        <div class="Buy-formField">
          <span>I'm going to be offering other things through this site. Would you like to hear about them?</span>
        </div>
        <div class="Buy-formField">
          <fieldset>
            <label>
              <input value="true" type="radio" name="chooseone">
              Yes, I'd like to receive further emails.
            </label>
            <label>
              <input value="false" type="radio" name="chooseone" checked="checked">
              No, leave me alone forever.
            </label>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="Buy-formBox">
      <div class="Buy-formField">
          <span>By purchasing, you agree to our <a href="{{baseUrl}}help.html">Terms & Conditions.</a></span>
      </div>
    </div>
  </form>
  {% include '_payments.html' %}
</div>
