<header class="Header" id="header">
  <h1 class="Header-title">
    <a class="Header-link" href="{{baseUrl}}">
      <svg class="Icon Icon--logo">
        <use xlink:href="#icon-logo"></use>
        <title>Owner name</title>
      </svg>
    </a>
  </h1>
  <button class="Header-drawerToggle" id="drawer-toggle">
    <svg class="Icon Icon--menu">
      <use xlink:href="#icon-menu" id="icon-toggle"></use>
      <title>Menu</title>
    </svg>
  </button>
  <div class="Header-drawer">
    {% include '_drawer.html' %}
  </div>
</header>
