<section class="Latest js-overlayHide">
  <a  class="Latest-imgLink" href="{{baseUrl}}buy.html">
    <img class="Latest-img" src="{{imagePath}}/placeholder.svg" title="Latest Release" alt="Image Description">
  </a>
  <div class="Latest-info">
    <a class="Latest-infoLink" href="{{baseUrl}}buy.html">
      <header class="Latest-header">
        <span class="Latest-subtitle">Latest release</span>
        <h2 class="Latest-title">New Title</h2>
      </header>
      <div class="Latest-details">
        {% include '_details.html' %}
      </div>
    </a>
    {% set version='Latest'%}
    {% include '_action-buttons.html' %}
  </div>
  {% set modifier='latest'%}
  {% include '_overlay.html' %}
</section>
