<ul class="SiteNav">
  <li class="SiteNav-item">
    <a class="SiteNav-link" href="{{baseUrl}}news.html" >
      <span class="SiteNav-firstPart">News</span>
      <span class="SiteNav-secondPart">+ Updates</span>
    </a>
  </li>

  <li class="SiteNav-item">
    <a class="SiteNav-link" href="{{baseUrl}}buy.html" >
      <span class="SiteNav-firstPart">Buy / Watch</span>
      <span class="SiteNav-secondPart">Shows</span>
    </a>
  </li>

  <li class="SiteNav-item">
    <a class="SiteNav-link" href="{{baseUrl}}tours.html">
      <span class="SiteNav-firstPart">Tour</span>
      <span class="SiteNav-secondPart">Dates</span>
    </a>
  </li>
</ul>
