<ul class="SocialNav">
  <li class="SocialNav-item">
    <a class="SocialNav-link SocialNav-link--twitter" href="https://twitter.com/" title="Twitter" >
      <svg class="Icon">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="SocialNav-item">
    <a class="SocialNav-link SocialNav-link--youtube" href="https://www.youtube.com/" title="YouTube" >
      <svg class="Icon">
        <use xlink:href="#icon-youtube"></use>
      </svg>
    </a>
  </li>
  <li class="SocialNav-item">
      <a class="SocialNav-link SocialNav-link--facebook" href="https://www.facebook.com/" title="Facebook">
        <svg class="Icon">
          <use xlink:href="#icon-facebook"></use>
        </svg>
      </a>
  </li>
</ul>
