  <div class="Overlay" data-id="preview">
    <div class="Overlay-box">
      <button class="Overlay-button" title="close">
        <svg class="Icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
      <div class="Overlay-mediaContainer Overlay-mediaContainer--{{modifier}}">
        <svg class="Icon Icon--film">
          <use xlink:href="#icon-film"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="Overlay" data-id="details">
    <div class="Overlay-box">
      <button class="Overlay-button" title="close">
        <svg class="Icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
      <div class="Overlay-text">
        <p>
          Detailed product information informations détaillées sur le produit podrobné informace o produktech información detallada del producto
          Detailed product information informations détaillées sur le produit podrobné informace o produktech información detallada del producto
          Detailed product information informations détaillées sur le produit podrobné informace o produktech información detallada del producto
        </p>
      </div>
    </div>
  </div>
