<div class="Preview">
  {% for productItem in productItemList %}
  <section class="Preview-item js-overlayHide">
    <a class="Preview-link" href="{{baseUrl}}buy.html">
      <img class="Preview-img" src="{{imagePath}}/placeholder_2.svg" title="Product Image" alt="Image Description">
    </a>
    <a class="Preview-linkInfo" href="{{baseUrl}}buy.html">
      <div class="Preview-info">
        <header>
          <span class="Preview-subtitle">{{productItem.subtitle}}</span>
          <h2 class="Preview-title">{{productItem.title}}</h2>
        </header>
        <div class="Preview-details">
          {% include '_details.html' %}
        </div>
      </div>
    </a>
    {% set version = 'Preview' %}
    {% include '_action-buttons.html' %}
    {% include '_overlay.html' %}
  </section>
  {% endfor %}
</div>
