<section class="Product">
  <img class="Product-img" src="{{imagePath}}/placeholder.svg" title="Latest Release" alt="Image Description">
  <div class="Product-basics">
    <header>
      <span class="Product-subtitle">Purchase</span>
      <h2 class="Product-title">Title</h2>
    </header>
    <div class="Product-details">
    {% include '_details.html' %}
    </div>
    <div class="Product-about">
      <p>
        Information about product información sobre el producto informazioni sul prodotto.
        Information about product información sobre el producto informazioni sul prodotto.
        Information about product información sobre el producto informazioni sul prodotto.
      </p>
    </div>
  </div>
</section>
