{% for item in TabsList.Tours %}
  {% set variable = '' %}
  {% set rangeNr = 3 %}

  {% if loop.first %}
    {% set variable = 'TourTable--selected' %}
    {% set rangeNr = 30 %}
  {% endif %}

<table class="TourTable {{variable}} js-tabContent" id="{{item | lower | replace(' ', '-')}}" >
  <colgroup>
    <col class="TourTable-col">
    <col class="TourTable-col">
    <col class="TourTable-col">
  </colgroup>
  <tbody class="TourTable-body">
  {% for i in range(0, rangeNr) %}
  <tr class="TourTable-row">
    {% for item in tourDetails %}
    <td class="TourTable-field">{{item}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}
