{% set title = 'Login' %}
{% extends '_base.html' %}

{% block content %}
<aside class="Info Info--img">
  <div class="Info-icon">
    <svg class="Icon Icon--info">
      <use xlink:href="#icon-info"></use>
    </svg>
  </div>
  <div class="Info-content">
    <p>If this is your first time logging in, you will find your password in your purchase confirmation email.</p>
  </div>
</aside>

<div class="Login">
  <form class="Form">
    <div class="Form-field">
      <label class="InputLabel">
        Enter Your email :
        <input class="Input" name="email" type="email" required="required" placeholder="email@domain.com"/>
      </label>
    </div>

    <div class="Form-field">
      <label class="InputLabel">
        Password:
        <input class="Input" name="password" type="password" required="required" placeholder="••••••"/>
      </label>
    </div>

    <div class="Form-field">
      <button class="Button" type="submit">
        Login
      </button>
    </div>
  </form>

  <aside class="Info">
    <div class="Info-content">
      <p>Forgot your password? <a href="{{baseUrl}}password.html">Click here</a></p>
      <p>Having problems? <a href="{{baseUrl}}help.html">Click here</a></p>
    </div>
  </aside>
</div>
{% endblock %}