{% set title = 'News' %}
{% extends '_base.html' %}

{% block content %}
<div class="News">
  {% for i in range(0, 5) %}
  <article class="News-article">
    <header class="News-articleHeader">
      <h2 class="News-articleTitle">News Title</h2>
      <time class="News-articleDate" datetime="1900-01-09">Month date, YEAR</time>
    </header>
    <div>
      {% for j in range ([1,2,4] | random ) %}
      <p>Interesting news Notizie interessanti Zajímavá zpráva Noticias interesantes
        Interessante nyheder Zanimive novice Des nouvelles intéressantes.
      </p>
      {% endfor%}
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}