{% set title = 'Password' %}
{% extends '_base.html' %}

{% block content %}
<section class="Password">
  <div class="Password-info">
    <h2 class="Password-heading">Forgot your password?</h2>
    <p>Give us your email address, and we'll send you a new one.</p>
  </div>

  <form class="Form">
    <div class="Form-field">
      <label class="InputLabel">
        Email:
        <input class="Input" name="email" type="email" required="required" placeholder="email@domain.com"/>
      </label>
    </div>

    <div class="Form-field">
      <button class="Button" type="submit">
        Get a new password
      </button>
    </div>
  </form>
</section>
{% endblock %}