.Button {
  background: $palette-cyan;
  border: 0;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding: .4em 1em;
  text-transform: uppercase;
  transition: background .2s;

  &:hover, &:focus {
    background: $palette-white;
    color: $palette-black;
  }
}