.Buy {
    margin-bottom: $element-distance;

  &-form {
    background: $palette-black;
    display: flex;
    flex-flow: column;
  }

  &-formBox {
    margin-top: $gutter;
  }

  &-formField {
    background: $palette-woodsmoke;
    padding: 1rem;

    & + .Buy-formField {
      padding-top: 0;
    }
  }

  &-formGroup {
    display: flex;
    flex-flow: column;
  }

  &-formHeading {
    margin-bottom: .5em;
  }

  &-formStep {
    margin-bottom: .25em;
  }

  &-formSteps {
    margin: 0 0 1em;
    padding-left: 2em;
  }
}

@include set-query(small) {
  .Buy {
    &-formGroup {
      flex-flow: row;
    }

    &-formField {
      flex:1 0 0%;
      & + .Buy-formField {
        margin-left: $gutter;
        padding: 1rem;
      }
    }
  }
}