.Latest {
  &-action {
    + .Latest-action {
      margin-left: .2em;
    }
  }

  &-actionButton {
    @extend %action-button;

    &:hover, &:focus{
      @extend %action--hover;
    }
  }

  &-actionLink {
    @extend %action-link;
    text-align: center;

    &:hover, &:focus{
      @extend %action--hover;
    }
  }

  &-actions {
    @extend %action-list;
  }
}

@include set-query(medium) {
  .Latest {
    &-action {
      flex: 1 0 0%;

      + .Latest-action {
        margin-left: 0;
      }
    }

    &-actions {
      flex-flow: row-reverse;
      position: static;
    }
  }
}