.Latest {
  background: $palette-black;
  border-top: $box-decoration;
  margin-bottom: $element-distance;  overflow: hidden;
  position: relative;
  z-index: 0;

  &:after {
    clear: left;
    content: "";
    display: table;
  }

  &:before {
    content: "";
    float: left;
    padding-top: 100%;
  }

  &-details {
    background: $palette-blueBlack;
    min-width: 8.5em;
    padding: 1rem;
    width: 57%;
  }

  &-header {
    align-items: baseline;
    background: $palette-woodsmoke;
    display: flex;
  }

  &-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &-imgLink {
    display: flex;
  }

  &-info {
    bottom: 0;
    display: flex;
    flex-flow: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-infoLink {
    flex: 1 0 0%;
    text-decoration: none;
  }

  &-subtitle {
    font-size: $fontL-productHeader;
    padding: 0 $inner-margin-small;
    text-transform: uppercase;
  }

  &-title {
    background: $palette-black;
    font-size: $fontL-productHeader;
    padding: $inner-margin-small;
    text-transform: uppercase;
  }
}


@include set-query(medium) {
  .Latest {
    display:flex;

    &:before {
      padding-top: 50%;
    }

    &-details {
      background: transparent;
    }

    &-header {
      align-items: stretch ;
      flex-flow: column;
    }

    &-img {
     flex: 1 0 0%;
    }

    &-info {
      flex: 1 0 0%;
      position: static;
    }

    &-imgLink {
      flex: 1 0 0%;
      position: static;
    }

    &-subtitle {
      font-size: $fontXL-productHeader;
      padding: $inner-margin-small;
    }

    &-title {
      font-size: $fontXL-productHeader;
    }
  }
}
