.UtilityNav {
  display: flex;

  &-item {
    font-size: .875em;

    + .UtilityNav-item {
      margin-left: .625em;
    }
  }
  
  &-link {
    background: $palette-cyan;
    border-radius: 4px;
    display: block;
    padding: .5em;
    text-decoration: none;
    transition: background .2s;

    &:hover, &:focus  {
      background: $palette-white;
      color: $palette-cyan;
    }
  }
}