.SocialNav {
  display: flex;
  margin-bottom: .5rem;


  &-item {
    display: flex;
    + .SocialNav-item {
      margin-left: .5em;
    }
  }

  &-link {
    color: $palette-white;
    font-size: 2em;
    transition: color .2s ;

    &--facebook {
      &:hover, &:focus {
        color: #133783;
      }
    }

    &--twitter {
      &:hover, &:focus  {
        color: #55acee;

      }
    }

    &--youtube {
      &:hover, &:focus  {
        color: #ff0000;
      }
    }
  }
}