.News {
  &-article {
    background: $palette-black;
    border-top: $box-decoration;
    margin-bottom: 1em;
    padding: $inner-margin-small;
  }

  &-articleDate {
    margin: 1em 0;
  }

  &-articleHeader {
    margin: 1em 0;
    &:after {
      border-bottom: 2px solid $palette-cyan;
      content: '';
      display: block;
      margin-top: 1rem;
      min-width: 10em;
      width: 35%;
    }
  }

  &-articleTitle {
    font-size: 1.25em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}


@include set-query(medium) {
  .News {
    max-width: 35em;
  }
}

