.Password {
  &-heading {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  &-info {
    margin-bottom: 1em;
  }
}

@include set-query(medium) {
  .Password {
    width: $width-narrow;
  }
}