.Preview {
  margin-bottom: $element-distance;

  &-details {
    margin-top: 1rem;
  }

  &-img {
    background: $palette-black;
    object-fit: cover;
    width: 100%;
  }

  &-info {
    background: $palette-blueBlack;
    padding: 1rem;
  }

  &-item {
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &:after {
      clear: left;
      content: '';
      display: block;
    }

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    &:nth-of-type(4n) .Product-img {
      filter: brightness(.9);
    }

    &:nth-of-type(4n+1) .Product-img {
      filter: brightness(.9);
    }

  }

  &-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }

  &-linkInfo {
    display: block;
    position: relative;
    text-decoration: none;
    width: 57%;
  }

  &-subtitle {
    text-transform: uppercase;
  }

  &-title {
    letter-spacing: .05em;
    margin-top: 0.125em;
    text-transform: uppercase;
  }
}


@include set-query(medium) {
  .Preview {
    display: flex;
    flex-wrap: wrap;

    &-info {
      padding: 1rem .625rem;
      position: relative;
    }

    &-linkInfo {
      width: 50%;
    }

    &-item {
      margin-bottom: 0;
      width: 50%;
    }
  }
}