.Product {
  background: $palette-black;
  border-top: $box-decoration;
  margin-bottom: $element-distance;
  overflow: auto;

  &-about {
    font-size: .875em;
    padding: $inner-margin-small;
  }

  &-details {
    padding:  $inner-margin-small;

    &:after {
      border-bottom: 2px solid $palette-cyan;
      content: '';
      display: block;
      margin-top: 1rem;
      width: 35%;
    }
  }

  &-img {
    float: right;
    margin-left: .5em;
    object-fit: cover;
    width: 50%;
  }

  &-subtitle {
    background: $palette-woodsmoke;
    display: block;
    font-size: $fontL-productHeader;
    padding: $inner-margin-small;
    text-transform: uppercase;
  }

  &-title {
    font-size: $fontL-productHeader;
    padding: $inner-margin-small;
    text-transform: uppercase;
  }
}



@include set-query(medium) {
  .Product {
    display: flex;
    flex-flow: row-reverse;

    &:after {
      clear: left;
      content: "";
      display: table;
    }

    &:before {
      content: "";
      float: left;
      padding-top: 50%;
    }

    &-basics {
      flex: 1 0 0%;
    }

    &-img {
      flex: 1 0 0%;
      float: none;
      margin: 0;
    }

    &-subtitle {
      font-size: $fontXL-productHeader;
    }

    &-title {
      font-size: $fontXL-productHeader;
    }
  }
}