.TabsList {
  background: $palette-woodsmoke;
  border-bottom: $box-decoration;
  display: flex;

  &-tab {
    display: inline-block;
    padding: .75em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &--buy {
      background: $palette-cyan;
      cursor: default;
    }

    &--selected {
      background: $palette-cyan;
    }
  }
}
